#page {
    background-color: yellow;
}

#page * {
    border: 10px solid red;
    background-color: aqua;
    margin: 30px;
    padding: 30px;
}

 #interno  {
    border: 10px solid red;
    background-color: aqua;
    margin: 30px;
    padding: 30px;
}